
@model  List<List<Tuple<int, double, double>>>

<link rel="stylesheet" href="~/Tema/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="~/Tema/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<style>

    select[name="1_length"] {
        height: 30px !important;
    }

    select[name="2_length"] {
        height: 30px !important;
    }

    select[name="save-stage"] {
        height: 30px !important;
    }

    .dataTables_length label {
        float: right !important;
        margin: 0 !important;
    }

    .dataTables_filter label {
        margin: 0 !important;
    }

        .dataTables_filter label input {
            height: 30px !important;
        }

    .dataTables_paginate {
        float: right !important;
    }

    .dataTables_length label {
        float: right !important;
        margin: 0 !important;
    }
</style>

<div class="table-responsive">
    <div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="col-sm-12">
            <table class="table table-striped dataTable no-footer" id="save-stage2" role="grid" aria-describedby="table-1_info">
                <thead>
                    <tr role="row">
                        <th class="text-center sorting_asc" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="
                              #
                            : activate to sort column descending" style="width: 24px;" aria-sort="ascending">
                            #
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" style="width: 148px;">Ölçü Noktaları</th>


                        @for (int i = 0; i < ViewBag.yollanacakOrderlar.Count; i++)
                        {
                            <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" style="width: 148px;">@(ViewBag.yollanacakOrderlar[i] + " - " + ViewBag.olcuTUrleri[i])</th>

                        }

                        <th>Ortalama Çekme</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.olcuNoktalari.Count; i++)
                    {
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                @ViewBag.olcuNoktalari[i]
                            </td>
                            @{ double toplam = 0.0;}
                            @for (int j = 0; j < Model.Count; j++)
                            {
                                <td>
                                    @{ toplam += Convert.ToDouble(Model[j][i].Item2);}
                                    @Model[j][i].Item2
                                </td>
                            }

                            <td>
                                @Math.Round(toplam / Model.Count, 2, MidpointRounding.AwayFromZero)
                            </td>


                        </tr>

                        if (i + 1 <= ViewBag.olcuNoktalari.Count)
                        {
                            <tr class="deneme">
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @ViewBag.olcuNoktalari[i]
                                </td>
                                @{ double toplam2 = 0.0;}
                                @for (int j = 0; j < Model.Count; j++)
                                {
                                    <td>
                                        @{ toplam2 += Convert.ToDouble(Model[j][i].Item3);}
                                        @Model[j][i].Item3
                                    </td>
                                }

                                <td>
                                    @Math.Round(toplam2 / Model.Count, 2, MidpointRounding.AwayFromZero)
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="~/Tema/assets/bundles/datatables/datatables.min.js"></script>
<script src="~/Tema/assets/bundles/sweetalert/sweetalert.min.js"></script>
<script src="~/Tema/assets/js/page/sweetalert.js"></script>

