@model List<OlcumWeb.Controllers.KazanDetayModel>

<style>
</style>

@if (Model != null)
{
    <div class="row">
        <div class="col-9" style="float:left;display:inline-block;">
            <div class="row" id="seciliListeler">
                @foreach (var item in Model)
                {
                    <div class="card card-info" data-id="@item.kazanDetayID" style="width:18.5%; margin-right:1%;margin-top:-2% ">
                        <div class="card-body">
                            @item.orderNo
                            <button data-dismiss="" class="btn btn-icon btn-danger" onclick="RemoveFromLocalStorage(@item.kazanDetayID)"><i class="fas fa-times" style="color:white"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (ViewBag.isAddingOrder == 0)
        {
            <div class="col-3">
                <button class="btn btn-lg btn-success" id="toleransKarsilastir" style="min-width:100%;margin-bottom:2%;" onclick="Karsilastir(0)"><span style="color:white">@(ViewBag.isFromNumunePage == 0 ? "Tölerans Karşılaştır" : "Tölerans Belirle") </span></button>
                <button class="btn btn-lg btn-success" id="cekmeKarsilastir" style="min-width:100%;margin-bottom:2%;" onclick="Karsilastir(1)"><span style="color:white">@(ViewBag.isFromNumunePage == 0 ? "Çekme Karşılaştır" : "Çekme Belirle")</span></button>
                <button class="btn btn-lg btn-success" style="min-width:100%" onclick="CleanList()"><span style="color:white">Temizle</span></button>
            </div>
        }
        else
        {
            <div class="col-3">
                <button class="btn btn-lg btn-success" id="orderEkleBtn" style="min-width:100%;margin-bottom:2%;" onclick="AddOrder()"><span style="color:white">Order Ekle</span></button>
                <button class="btn btn-lg btn-success" style="min-width:100%" onclick="CleanList()"><span style="color:white">Temizle</span></button>
            </div>
        }

    </div>




    <script>

        var model = @Html.Raw(Json.Encode(Model.Select(x=>x.kazanDetayID).ToList()));

        var model2 =  @Html.Raw(Json.Encode(Model.Select(x=>x.orderNo).ToList()));

        var isFromNumune = @Html.Raw(Json.Encode(ViewBag.isFromNumunePage));

        var isAddingOrder = @Html.Raw(Json.Encode(ViewBag.isAddingOrder));

        var raporTuruList =  @Html.Raw(Json.Encode(Model.Select(x=>x.raporTuru).ToList()));

        var tabloTuruList =  @Html.Raw(Json.Encode(Model.Select(x=>x.tabloTuru).ToList()));

        $(document).ready(function () {
            var tabloTuru;

            if ($('#yikamaOncesi').is(":checked")) {
                tabloTuru = 0;
            }

            if ($('#yikamaSonrasi').is(":checked")) {
                tabloTuru = 1;
            }

            if (tabloTuru == 0) {
                $('#cekmeKarsilastir').css('display', 'none');
            }
            else {
                $('#toleransKarsilastir').css('display', 'none');
            }
        });


        function Karsilastir(tabloTuru) {

            var data = { 'idList': JSON.stringify(model), 'orderNoList': JSON.stringify(model2), 'tabloTuru': tabloTuru, 'raporTuruList': JSON.stringify(raporTuruList) };

            data = $.param(data);

            if (isFromNumune == 1) {
                YukleniyorOnOff();

                $.post("/NumuneFormu/KarsilastirmaModal", { 'idList': JSON.stringify(model), 'orderNoList': JSON.stringify(model2), 'tabloTuru': tabloTuru, 'raporTuruList': JSON.stringify(raporTuruList) }, function (data) {

                    $('#stepContainer').html(data);
                    YukleniyorOnOff();

                }).fail(function (response) {
                    alert('Error : ' + response.responseText);
                });
            }
            else {
                window.open(window.location.origin + '/Raporlama/KarsilastirmaModal?' + data);
            }
        }

        function RemoveFromLocalStorage(id) {
            localStorage.removeItem(id);

            var liste = new Array();
            var raporTuruListe = new Array();

            for (var i = 0; i < localStorage.length; i++) {
                var localStorageItemKey = localStorage.key(i);
                var localStorageItem = localStorage.getItem(localStorageItemKey);

                if (localStorage.key(i) != 'personel' && localStorageItem.arsivMi != 1) {
                    liste.push(localStorage.key(i));
                    raporTuruListe.push(JSON.parse(localStorageItem).raporTuru);

                }
            }

            $('#' + id).prop('checked', false);

            $.post("/Raporlama/SelectedList", { 'id': liste, isFromNumune: isFromNumune, raporTuruListe: raporTuruListe }, function (data) {
                    $('#selectedList').html(data);

                }).fail(function (response) {
                    alert('Error : ' + response.responseText);
                });
            }

        function CleanList() {
            var personel = localStorage.getItem('personel');

            var silinmeyecekListe = [];
            for (var i = 0; i < localStorage.length; i++) {
                var localStorageItemKey = localStorage.key(i);
                var localStorageItem = JSON.parse(localStorage.getItem(localStorageItemKey));
                console.log(localStorageItem + " " + localStorageItemKey + " " + localStorage.length);
                if (localStorage.key(i) != 'personel' && localStorageItem.arsivMi == 1) {

                    silinmeyecekListe.push(localStorage.getItem(localStorage.key(i)));
                }

            }

            localStorage.clear();

            for (var i = 0; i < silinmeyecekListe.length; i++) {
                localStorage.setItem(silinmeyecekListe[i].id, silinmeyecekListe[i]);
            }

            localStorage.setItem('personel', personel);

            $.post("/Raporlama/SelectedList", { isFromNumune: isFromNumunePage }, function (data) {
                $('#selectedList').html(data);
            }).fail(function (response) {
                alert('Error : ' + response.responseText);
            });

            var tableParameters = GetTableParameters();

            $.post("/Raporlama/KarsilastirmaliRaporlamaTable", { tableParameters: tableParameters}, function (data) {
                $('#tablePart').html(data);
                YukleniyorOnOff();

            }).fail(function (response) {
                alert('Error : ' + response.responseText);
            });


        }

        function AddOrder() {
            YukleniyorOnOff();
            $.post("/NumuneFormu/GetKazanDetayModel", { 'idList': JSON.stringify(model), 'orderNoList': JSON.stringify(model2), 'tabloTuru': tabloTuru, 'raporTuruList': JSON.stringify(raporTuruList) }, function (data) {
                GetColumns(data);
                $('#karsilastirmaModal').modal('toggle');

                if ($('#tableContent').html() == "") {
                    $('#stepsModal').show();
                }
                YukleniyorOnOff();

            }).fail(function (response) {
                alert('Error : ' + response.responseText);
            });

        }

        function GetColumns(data) {


            data.araList.forEach((element, index, array) => {

                var check = belirlenenCekme.araList.filter(x => x.kazanDetayID == element.kazanDetayID)[0];


                if (tabloTuruList[0] == "Yıkama Öncesi") {
                    check = belirlenenTolerans.araList.filter(x => x.kazanDetayID == element.kazanDetayID)[0];
                }
                else {
                    check = belirlenenCekme.araList.filter(x => x.kazanDetayID == element.kazanDetayID)[0];
                }


                if (check === undefined) { // daha önce seçilen listede yoksa ekleyecek
                    var columnHeadHtmlString = "";

                    if (element.raporTuru == 0) {
                        columnHeadHtmlString = '<th data-kazanid="' + element.kazanDetayID + '" data-orderno="' + element.orderNo + '" data-orderid="' + element.orderID + '" data-olcuturleri="' + element.olcuTuruAd + '" data-olcuturuid="' + element.olcuTuruID + '" data-enboycekme="' + element.enBoyCekme + '" data-raporturu="' + element.raporTuru + '" style="min-width:100px; " draggable="true">' +
                            '<div class="row">' +
                            '<div style="width: 100%;">' + element.orderNo + '</div>' +
                            '<div style="width:80%;margin-left:10%">' + element.olcuTuruAd + '</div>' +
                            '<div style="width:80%;margin-left:10%">' + element.enBoyCekme + '</div> ' +
                            '<div style="width:80%;margin-left:10%"></div> ' +
                            '<div style="width:80%;margin-left:10%"></div> ' +
                            '</div> ' +
                            '<div class="row" style="margin-bottom:2%;margin-left:5%"> ' +
                            '<a class="btn btn-icon btn-sm btn-danger" style="width:40%;margin-right:5%" data-kazanid="' + element.kazanDetayID + '" onclick="DeleteColumn(this)"><i class="fas fa-times" style="color:white;"></i></a> ' +
                            '<a class="btn btn-icon btn-sm btn-info" style="width:40%;" data-kazanid="' + element.kazanDetayID + '" data-orderno="' + element.orderNo + '" data-raporturu="' + element.raporTuru + '" onclick="GoTableOffID(this)"><i class="fas fa-eye" style="color:white;"></i></a> ' +
                            '</div> ' +
                            '</th>';
                    }
                    else {
                        columnHeadHtmlString = "<th data-kazanid='" + element.kazanDetayID + "' data-orderno='" + element.orderNo + "' data-orderid='" + element.orderID + "' data-olcuturleri='" + element.olcuTuruAd + "' data-olcuturuid='" + element.olcuTuruID + "' data-enboycekme='" + element.enBoyCekme + "' data-raporturu='" + element.raporTuru + "' style='min-width:100px;' draggable='true'> " +
                            "<div class='row'> " +
                            "<div style='width: 100%;'>" + element.orderNo + "</div>" +
                            "<div style='width:80%;margin-left:10%'>" + element.olcuTuruAd + "</div> " +
                            "<div style='width:80%;margin-left:10%'>" + element.enBoyCekme + "</div> " +
                            "<div style='width:80%;margin-left:10%'>" + element.beden + " Beden</div> " +
                            "<div style='width:80%;margin-left:10%'>" + element.receteKod + "</div> " +
                            "</div> " +
                            "<div class='row' style='margin-bottom:2%;margin-left:5%'> " +
                            "<a class='btn btn-icon btn-sm btn-danger' style='width:40%;margin-right:5%' data-kazanid='" + element.kazanDetayID + "' onclick='DeleteColumn(this)'><i class='fas fa-times' style='color:white;'></i></a> " +
                            "<a class='btn btn-icon btn-sm btn-info' style='width:40%;' data-kazanid='" + element.kazanDetayID + "' data-orderno='" + element.orderNo + "' data-raporturu='" + element.raporTuru + "' onclick='GoTableOffID(this)'><i class='fas fa-eye' style='color:white;'></i></a> " +
                            "</div> " +
                            "</th>";
                    }

                    $('#tableHeadRow').find('th').eq(-3).before(columnHeadHtmlString);

                    var hesaplamaElement = data.hesaplamaList[index];

                    var rowCount = $('#save-stage48 tbody tr').length;

                    for (var i = 0; i < rowCount; i = i + 3) {
                        var olcuNoktasi = $('#save-stage48 tbody tr').eq(i).find('td').eq(1).html();

                        var hesaplamaSelectedElem = hesaplamaElement.filter(x => x.olcuNoktaAd == olcuNoktasi)[0];

                        if (hesaplamaSelectedElem != undefined) {
                            var uygulananTolCekmeHtmlString = "<td style= 'min-width:25px;'>" + hesaplamaSelectedElem.uygulananCekmeTolerans + "</td>";
                            var gerceklesenTolCekmeHtmlString = "<td>" + hesaplamaSelectedElem.gerceklesenCekmeTolerans + "</td>";
                            var ortalamaDegerHtmlString = "<td>" + hesaplamaSelectedElem.ortalamaDeger + "</td>";

                            $('#save-stage48 tbody tr').eq(i).find('td').eq(-4).after(uygulananTolCekmeHtmlString);
                            $('#save-stage48 tbody tr').eq(i + 1).find('td').eq(-3).after(gerceklesenTolCekmeHtmlString);
                            $('#save-stage48 tbody tr').eq(i + 2).find('td').eq(-3).after(ortalamaDegerHtmlString);

                        }

                    }
                }
            });

            CalculateTable();
            
        }

    </script>

}
