@model Tuple<List<OlcumWeb.Models.DTO.DTONumuneHazirTablo>, List<string>>

<style>
    #tableForm table {
        border-collapse: collapse;
    }

    #tableForm table, .table-responsive table td, .table-responsive table tr {
        border: 1px solid #aaaaaa;
    }
</style>


<link rel="stylesheet" href="~/Tema/assets/bundles/select2/dist/css/select2.min.css">


<div class="card card-success">
    <div class="card-header">
        <h4>Çoğaltma Ölçü Tablosu</h4>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills" id="numuneTab3" role="tablist">

            @for (int i = 0; i < Model.Item2.Count; i++)
            {
                if (i == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link active" id="numuneTab_@i" data-toggle="tab" href="#home_@i" role="tab" aria-controls="home" aria-selected="true">@Model.Item2[i]</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" id="numuneTab_@i" data-toggle="tab" href="#home_@i" role="tab" aria-controls="home" aria-selected="true">@Model.Item2[i]</a>
                    </li>
                }
            }

        </ul>
        <div class="tab-content" id="myTabContent2">
            @for (int i = 0; i < Model.Item2.Count; i++)
            {
                string deger = "";
                if (i == 0)
                {
                    deger = "show active";
                }
                else
                {
                    deger = "";
                }
                <div class="tab-pane fade @deger" id="home_@i" role="tabpanel" aria-labelledby="home-tab3">
                    <div class="table-responsive" id="numuneTableForm_@i">
                        <table id="numuneTable_@i" class="table table-striped" style="cursor: pointer;">
                            <thead>
                                <tr id="numuneTableHead_@i">
                                    <th id="column_@(i)_0">Ölçü Noktası</th>
                                    <th id="column_@(i)_1">Kalıp Ölçüsü</th>
                                    <th id="column_@(i)_2">Tölerans</th>
                                    <th id="column_@(i)_3">Y.Ö Tablo</th>
                                    <th id="column_@(i)_4">Y.Ö Fark</th>
                                    <th id="column_@(i)_5">Y.Ö Ölçülen</th>
                                    <th id="column_@(i)_6">Çekme</th>
                                    <th id="column_@(i)_7">Y.S Ölçülen</th>
                                    <th id="column_@(i)_8">Y.S Fark</th>
                                    <th id="column_@(i)_9">Y.S Tablo</th>
                                </tr>
                            </thead>
                            <tbody id="numuneTableBody_@i">
                                @{ int rowIndex = 0;}
                                @for (int j = 0; j < Model.Item1.Count; j++)
                                {
                                    if (j == 0)
                                    {
                                        <tr id="satir_@rowIndex">
                                            <td data-editable="false" id="cell_@(i + "_" + rowIndex)_0" data-olcunoktasi="@Model.Item1[j].olcuNoktasi">
                                                @Model.Item1[j].olcuNoktasi
                                            </td>

                                            @for (int z = 1; z <= 8; z++)
                                            {
                                                <td tabindex="1" id="cell_@(i + "_" + rowIndex + "_" + z)" data-tabloIndex="@i" data-rowIndex="@rowIndex" data-columnIndex="@z" onchange="DegerBul(this)">0</td>
                                            }

                                            <td tabindex="1" id="cell_@(i + "_" + rowIndex)_9" data-tabloIndex="@i" data-rowIndex="@rowIndex" data-columnIndex="11" onchange="DegerBul(this)">@Model.Item1.Where(x => x.olcuNoktasi == @Model.Item1[j].olcuNoktasi && x.beden == Model.Item2[i]).Select(x => x.deger).FirstOrDefault().ToString().Replace(',', '.')</td>

                                        </tr>
                                        rowIndex++;

                                    }
                                    else
                                    {
                                        if (@Model.Item1[j].olcuNoktasi != @Model.Item1[j - 1].olcuNoktasi)
                                        {

                                            <tr id="satir_@rowIndex">
                                                <td data-editable="false" id="cell_@(i + "_" + rowIndex)_0" data-olcunoktasi="@Model.Item1[j].olcuNoktasi">
                                                    @Model.Item1[j].olcuNoktasi
                                                </td>

                                                @for (int z = 1; z <= 8; z++)
                                                {
                                                    <td tabindex="1" id="cell_@(i + "_" + rowIndex + "_" + z)" data-tabloIndex="@i" data-rowIndex="@rowIndex" data-columnIndex="@z" onchange="DegerBul(this)">0</td>
                                                }

                                                <td tabindex="1" id="cell_@(i + "_" + rowIndex)_9" data-tabloIndex="@i" data-rowIndex="@rowIndex" data-columnIndex="11" onchange="DegerBul(this)">@Model.Item1.Where(x => x.olcuNoktasi == @Model.Item1[j].olcuNoktasi && x.beden == Model.Item2[i]).Select(x => x.deger).FirstOrDefault().ToString().Replace(',', '.')</td>
                                            </tr>
                                            rowIndex++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                        <input style="position: absolute; display: none;">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card-footer">
        <div class="row" style="margin-left:1%"><button type="button" class="btn btn-primary" id="btnSec" onclick="TabloKaydet()">Kaydet</button></div>
    </div>
</div>



<script src="~/Tema/assets/bundles/select2/dist/js/select2.full.min.js"></script>
<script src="~/editable-table-master/mindmup-editabletable.js"></script>

<script>
    var tabloList = [];


    if (jQuery().select2) {
        $(".select2").select2();
    };

    for (var i = 0; i < @Html.Raw(Json.Encode(Model.Item2.Count)); i++) {
            $('#numuneTable_' + i).editableTableWidget();
    }

    function deneme() {
        $('#orderContent').show();
        $('#tableContent').hide();
        if ($("#tabloyaDonBtn").length > 0) {

        }
        else {
            $('#buttonEklemek').append('<button id="tabloyaDonBtn" class="btn btn-warning" onclick="TabloyaDon()"><span style="color:white">Tabloya Dön</span></button>');
        }

        $('#breadcrumb li:last-child').remove();
    };

    function TabloKaydet() {
        var tabLength = $('#numuneTab3 >li').length;

        for (var i = 0; i < tabLength; i++) {
            var olcuList = [];
            var rowCount = $('#numuneTableBody_' + i.toString() + ' > tr').length;

            for (var j = 0; j < rowCount; j++) {
                var olcuNoktasi = $('#cell_' + i + '_' + j + '_0').data('olcunoktasi');
                var beden = $('#numuneTab_' + i).html();
                var degerList = [];
                for (var k = 1; k < 12; k++) {
                    var deger = $('#cell_' + i + '_' + j + '_' + k).html();
                    degerList.push(deger);
                }

            olcuList.push({ 'olcuNoktasi': olcuNoktasi, 'beden': beden, 'deger': degerList });
            }

            tabloList.push(olcuList);

        }

        var detayObject = {
            orderNo:  document.getElementById('orderNo').value,
            atolye: document.getElementById('atolyeAd').value,
            giysiTuru:  document.getElementById('giysiTuruAd').value,
            olcuTuru:  document.getElementById('olcuTuruAd').value,
            kesimeGidis: $('#kesimeGidis').val(),
            dikimeGidis: $('#dikimeGidis').val(),
            yikamayaGidis: $('#yikamayaGidis').val(),
            yikamadanGelis: $('#yikamadanGelis').val(),
            kalipAdi: $('#kalipAdi').val(),
            topNo: $('#topNo').val(),
        };

            var personel = JSON.parse(localStorage.getItem('personel'));

            personel = personel.id;

        $.post("/CogaltmaFormu/TabloKaydet", { 'detay': detayObject, 'tablo': tabloList, 'kullanıcıID': personel }, function (gelenCagri) {
            if (gelenCagri == 1) {
                swal({
                title: "Başarılı",
                text: "Tablonuz başarıyla kaydedildi.",
                icon: "success",
                button: "Tamam",
                });
            }
            else {
               swal({
                title: "Başarısız",
                text: "Tablo kaydı yapılırken bir hatayla karşılaşıldı!",
                icon: "error",
                button: "Tamam",
                });
            }
        }).fail(function (response) {
            alert('Error : ' + response.responseText);
        });

        tabloList.length = 0;
        olcuList.length = 0;
    }

    function DegerBul(elem) {

        var id = $(elem).attr('id');
        //Hücre konumunu almak için indexleri alıyorum.
        var tabloIndex = Number($(elem).data('tabloindex'));
        var rowIndex = Number($(elem).data('rowindex'));
        var columnIndex = Number($(elem).data('columnindex'));
        //Kullanıcı , kullandıysa . ya çeviriyorum.
        $(elem).html($(elem).html().replace(',', '.'));
        var tabloCount = @Html.Raw(Json.Encode(Model.Item2.Count));

        var cellValue = parseFloat($(elem).html());
        var nextCellValue = parseFloat($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 2)).html());
        var previousCellValue = parseFloat($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html());


        if (columnIndex == 1) {
            var ysDeger = parseFloat($('#cell_' + tabloIndex + '_' + rowIndex + '_9').html())
            var oran = ((cellValue - ysDeger) / ysDeger) * 100;
            console.log(oran);
            for (var i = 0; i < tabloCount; i++) {
                var value = ((oran + 100) / 100 * parseFloat($('#cell_' + i + '_' + rowIndex + '_9').html())).toFixed(1);
                $('#cell_' + i + '_' + rowIndex + '_' + Number(columnIndex)).html(value);
            }
        }
        else if (columnIndex == 3) {
            var ysDeger = parseFloat($('#cell_' + tabloIndex + '_' + rowIndex + '_9').html())
            var oran = ((cellValue - ysDeger) / ysDeger) * 100;
            console.log(oran);
            for (var i = 0; i < tabloCount; i++) {
                var value = ((oran + 100) / 100 * parseFloat($('#cell_' + i + '_' + rowIndex + '_9').html())).toFixed(1);
                $('#cell_' + i + '_' + rowIndex + '_' + Number(columnIndex)).html(value);
            }
        }
        else if (columnIndex == 5) {

            if ($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 2)).html() != "0" && $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 2)).html() != "") {
                var value = ((cellValue - nextCellValue) / cellValue * 100).toFixed(1);

                $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 1)).html(value);

            }

            if ($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html() != "0" && $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html() != "") {
                var value = (cellValue - previousCellValue).toFixed(1);
                $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 1)).html(value);
            }

            if ($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 4)).html() != "0" && $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 4)).html() != "") {
                var previousCellValue2 = parseFloat($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 4)).html());
                var value = (previousCellValue2 - cellValue).toFixed(1);
                $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 3)).html(value);
            }
        }
        else if (columnIndex == 7) {
            if ($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 2)).html() != "0" && $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 2)).html() != "") {
                var value = (cellValue - nextCellValue).toFixed(1);

                $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex + 1)).html(value);

            }

            if ($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html() != "0" && $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html() != "") {
                var value = ((previousCellValue - cellValue) / previousCellValue * 100).toFixed(1);
                $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 1)).html(value);
            }
        }
        else if (columnIndex == 9) {
            if ($('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html() != "0" && $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 2)).html() != "") {
                var value = ((previousCellValue - cellValue)).toFixed(1);
                $('#cell_' + tabloIndex + '_' + rowIndex + '_' + Number(columnIndex - 1)).html(value);
            }
        }
    }
</script>
